body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    background-color: silver;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

h1, 
h2,
h3,
.nav__link {
    font-family: 'IBM Plex Serif', serif;
    text-transform: uppercase;
}

h2 {
    color:  rgb(25, 41, 88);
}


.container {
    padding: 0 150px;
}

.header {
    background-color: rgb(25, 41, 88);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 275px;
    padding: 40px;
}

.nav__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(25, 41, 88);
    transition: all .5s;
}

.nav__link:hover {
    color: darkgray;
    border-bottom-color: gold;
}

.hero {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero__text {
    text-align: center;
    height: 100%;
}

.hero__img {
    max-width: 60%;
}

.about-testimonial {
    background-color: #eee;
    display: flex;
}

.about-us,
.testimonial {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-us {
    max-width: 60%;
}

.about-us__text {
    padding-right: 40px;
}

.testimonial {
    max-width: 40%;
    display: block;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(25, 41, 88);
    color: white;
}

.testimonial__header {
    color: gold;
    letter-spacing: 1px;
}

.testimonial__text {
    margin: 0;
    font-style: italic;
}

.testimonial__name {
    text-align: right;
    color: gold;
}

.testimonial__name:before, 
.testimonial__name:after {
    content:"-"
}

.services {
    background-color: rgb(29, 29, 29);
    padding-top: 100px;
    padding-bottom: 100px;

}

.services__wrapper {
    display: flex;
    justify-content: space-between;
}

.services__header {
    color: gold;
    margin-bottom: 50px;
}

.service {
    max-width: 225px;
}

.service__img {
    width: 225px;
    height: 150px;
    cursor: pointer;
}

.service__header {
    color: #eee;
    border-bottom: 2px solid gold;
    display: inline-block;
    font-size: 18px;
    margin: 20px 0;
}

.service__text {
    color: #eee;
    margin: 0;
    font-size: 16px;
}

.service__btn {
    cursor: pointer;
    color: rgb(25, 41, 88);
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
    padding: 5px 8px;
    background-color: #fff;
    border: 2px solid gray;
}

.service__btn:hover {
    background-color: rgb(25, 41, 88);
    color: gold;
}
